@import './no-avatar';

$border-color: #6c757d63;

$card-bg: #27293d;

$text-muted: #9c9fa6;

$sidebar-dark-menu-active-background: #ccc;
$sidebar-dark-menu-active-color: #000;
$chat-container-height: 220px;

$accent-color: #fff;
$form-focus-bg: inherit;

$scrollbar-color: #252525;
$content-bg: $scrollbar-color;
$content-bg-color: $accent-color;

$delete-btn-background: $sidebar-dark-menu-active-background;
$delete-btn-color: $accent-color;
$delete-btn-hover-color: #000;

$small-device: 430px;

.ellipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#chat-service.chat-app-wrapper {
  position: relative;
  background-color: #fff;
  position: fixed !important;
  border-radius: 20px;
  width: 300px;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0em 0rem 1rem 0px rgba(68, 65, 65, 0.13) !important;

  .no-avatar {
    @extend .no-avatar;
  }

  @media (max-width: $small-device) {
    width: 250px;
  }

  .chat-app-wrapper__header {
    display: flex;
    align-items: center;
    background-color: $scrollbar-color;

    & div {
      color: #fff;
      font-weight: bold;
    }

    & img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 15px;
    }
  }

  .chat-app-wrapper__close {
    padding: 0;
    border: none;
    background: none;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 0.8rem;
    transition: 0.5s;

    &:hover {
      color: #b3afaf;
      transition: 0.5s;
    }
  }

  .file-shower {
    float: left;
    position: relative;

    &__delete-btn {
      position: absolute;
      right: 0;
      top: -10px;
      font-size: 7px !important;
      background: $delete-btn-background;
      color: $delete-btn-color;
      width: 17px;
      height: 10px;
      padding: 0;
      border-radius: 10px;
      padding: 3px 0px;
      box-sizing: content-box;

      &:hover,
      &:focus {
        background: $delete-btn-hover-color;
      }
    }

    img {
      width: 50px;
      margin: 10px;
    }
  }

  .emoji-mart {
    width: 275px !important;
    position: absolute;
    top: -270px;
    left: 50%;
    transform: translate(-144px, 0px);
  }

  .emoji-mart-scroll {
    height: 100px;
  }

  .emoji-mart-emoji > span {
    width: 18px !important;
    height: 18px !important;
  }

  .emoji-mart-preview-data {
    display: none;
  }

  .chat-message-area {
    width: 190px;
    padding: 10px;
    resize: none;

    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .chat-list-wrapper {
    overflow-y: auto;
    border-right: 1px solid $border-color;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      position: absolute;
      left: -300px;
      top: 0;
      z-index: 99;
      bottom: 0px;
      background: $card-bg;
      width: 300px;
      height: 100%;
      border-right: none;
      transition-duration: 0.3s;
      transition-property: 'box-shadow', 'left';

      &.menu-open {
        left: 0px;
        box-shadow: 6px 4px 15px -5px rgba(0, 0, 0, 0.25);
      }
    }

    .chat-list-item-wrapper {
      padding-top: 20px;
      padding-bottom: 40px;
      @media (max-width: 768px) {
        padding: 0 15px;
      }

      .list-item {
        display: grid;
        grid-template-columns: 45px auto auto;
        grid-template-rows: auto auto;
        padding: 15px 20px;
        transition-duration: 0.5s;
        transition-property: 'background';

        .profile-image {
          position: relative;

          .dot-indicator {
            position: absolute;
            top: 15px;
            right: -5px;
            z-index: 1;
            height: 12px;
            width: 12px;
            border: 2px solid $card-bg;
          }
        }

        .user-name {
          color: $text-muted;
          padding-left: 20px;
          margin-bottom: 0;
          @extend .ellipsis;
        }

        .chat-time {
          color: $text-muted;
          text-align: right;
        }

        .chat-text {
          padding-left: 20px;
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row-start: 2;
          margin-bottom: 0;
        }

        &:hover {
          background: rgba($sidebar-dark-menu-active-color, 0.1);
          cursor: pointer;
        }
      }
    }
  }

  .slide {
    left: -21px;
  }

  .chat-search-input {
    padding-top: 30px;
    padding-bottom: 10px;

    .form-control {
      height: 40px;
      border-right: none;
      border-radius: 4px 0px 0px 4px;
      color: $text-muted;
    }

    .input-group-text {
      padding: 8px 15px;
      font-size: 20px;
      border-radius: 0px 4px 4px 0px;

      i {
        color: $text-muted;
      }
    }
  }

  .sidebar-spacer {
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 768px) {
      padding: 0 45px;
    }
  }

  .chat-container-wrapper {
    height: $chat-container-height;
    overflow-y: auto;
    padding-bottom: 20px;
    padding: 0 15px 30px 15px;

    .opacity-0 {
      opacity: 0;
    }

    .MuiCircularProgress-root {
      margin-top: 20px;
    }

    @media (max-width: $small-device) {
      height: 230px;
    }

    &::-webkit-scrollbar {
      width: 0.7em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-color;
      border-radius: 5px;
      height: 50px;
    }

    .chat-bubble {
      margin-top: 30px;

      .chat-message {
        border-radius: 4px;
        padding: 10px 20px;

        .file-shower {
          text-align: center;
          float: initial;
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .sender-details {
        display: flex;
        align-items: center;

        .seen-text {
          margin-bottom: 0;
          color: $text-muted;
        }
      }

      &.incoming-chat {
        .chat-user-information {
          flex-direction: row-reverse;

          small {
            text-align: right;
            margin-right: 10px;
          }
        }

        .chat-message {
          background: $content-bg;
          color: $content-bg-color;
          margin-left: 45px;
        }

        .sender-details {
          .seen-text {
            padding-left: 10px;
          }
        }

        img {
          background: #fff;
          border-radius: 10px;
        }
      }

      &.outgoing-chat {
        .chat-message {
          background: $sidebar-dark-menu-active-background;
          margin-left: auto;
          max-width: 290px;
          margin-right: 45px;

          p {
            color: $sidebar-dark-menu-active-color;
          }
        }

        .sender-details {
          flex-direction: row-reverse;

          .seen-text {
            padding-right: 10px;
          }
        }
      }
    }
  }

  .chat-sidebar {
    height: 100%;
    max-height: $chat-container-height;
    overflow-y: auto;
    border-left: 1px solid $border-color;
  }

  .chat-text-field {
    border-top: 1px solid $border-color;
    padding: 10px 0;

    .input-group {
      justify-content: space-between;
      padding: 0 15px;
    }

    .input-group-text {
      font-size: 1.2rem;
      padding: 0 !important;
    }

    .emoji-btn {
      font-size: 1rem;

      @media (max-width: $small-device) {
        padding: 3px !important;
      }
    }

    &__send {
      transform: rotate(135deg);
      color: #3a96dd;
      margin-right: 20px;
    }

    .input-group {
      .input-group-prepend,
      .input-group-append {
        .input-group-text {
          border: none;
          background: transparent;
        }
      }

      .form-control {
        height: 45px;
        border: none;
        background-color: transparent;
        &:focus {
          background: $form-focus-bg;
        }
      }
    }
  }

  .list-item {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid $border-color;
  }
}

[data-rmiz-overlay] {
  img {
    width: 100%;
    position: absolute;
    top: 6px;
    max-width: 60px;
  }
}

[data-rmiz-modal-content] {
  display: flex;
  justify-content: center;
}

@import './chat-section';
